[user]
  name = Gabriel Dezan
  email = dezangabriel@gmail.com
[color]
	ui = true
[alias]
  s = status
  b = branch -vv
  ca = commit --amend
  can = commit --amend --no-edit
  last = log -1 HEAD
  d = diff
  fr = !git fetch && git rebase
  mu = !git checkout master && git fr
  so = branch --set-upstream-to=origin/master
  l = log --all --graph --abbrev-commit --decorate
  ol = log --all --abbrev-commit --decorate --oneline
  u = add -u
  ph = push origin HEAD
  phm = push origin HEAD -o merge_request.create
[core]
  editor = vim
	pager = diff-so-fancy | less --tabs=2 -RFX
[diff-so-fancy]
	stripLeadingSymbols = false
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	old = red bold
	new = green bold
	whitespace = red reverse
